.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 10px;
  height: calc(100vh - 60px);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}

.active {
  font-weight: bold;
  color: #1976d2;
}
